extends layout

block content
  h1 Insurance IOT
  p.output Current data being passed through
  .output
    h2 Temperature
    p#temperature 25&#8451;
  .output
    h2 Humidity
    p#humidity 77%
  .output
    h2 DeviceID
    p#deviceid insurance-01
  .output
    h2 Location
    p#loclat 37.3382&#176;N
    p#loclong 121.8863&#176;W
  .output
    h2 PolicyID
    p#policyid 6134141
  .output#analytics
    #text
    #map-canvas(name="map-canvas")
