extends layout

block content
  h1 Insurance IOT
  p.output Current data being passed through
  .output
    h2 Temperature
    p#temperature
  .output
    h2 Humidity
    p#humidity
  .output
    h2 DeviceID
    p#deviceid
  .output
    h2 Location
    p#loclat
    p#loclong
  .output
    h2 PolicyID
    p#policyid
  .output#analytics
