doctype html
html
  head
    title Insurance IOT
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(type='text/javascript', src='/javascripts/scripts.js')

  body(onload='initializeMap();')
    #topnav
      .navbar
        .nb-left-area
          a.nb-button-link.top_home
            img(src="images/bluemix-logo.png").nb-bluemix-logo
            a.nb-button-link.top_home
              span.nb-devopsservices-text IBM <b>Bluemix</b> Architecture Center
    block content
